.NotesList {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
}

.noteItem {
    background-color: #d7e9f7;
}

.noteHeader {
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: #0161a1;
    color: white;
    font-size: 16px;
    align-items: center;
    border-bottom: 1px solid #004472;
}

.arrowButton {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
}

.arrowOpen {
    height: 20px;
    width: 20px;
    transform: rotate(180deg);
}

.arrowClose {
    height: 20px;
    width: 20px;
    transform: rotate(0deg);
}

.noteDetails {
    background-color: #80c8f8;
    color: #00548b;
    padding: 15px 20px;  /* Начальные отступы */
    font-size: 14px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-in-out, opacity 0.3s ease-in-out, padding 0.3s ease-in-out; /* Включаем padding в анимацию */
    opacity: 0;
}

.noteDetails.open {
    max-height: 500px;
    opacity: 1;
    padding: 15px 20px; /* Отступы при открытии */
}

.noteDetails.close {
    max-height: 0;
    opacity: 1;
    padding: 0 20px; /* Отступы при закрытии (верх и низ убираем) */
}


.data {
    margin-top: 0px;
}
