.header {
    height: 70px;
    background-color: #0161a1;
    color: white;
    display: flex;
    justify-content: space-between;;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    align-items: center;
    border-bottom: 1px solid #00376b;
    z-index: 1000;
}

.icon {
    margin-left: 0px;
    background-color: rgb(255, 255, 255);
    height: 70px;
    width: 219px;
}

.userInfo {
    text-align: right;
    margin-right: 20px;
}
