ul {
    list-style-type:  none;
    padding-left: 0;
}

.nav {
    width: 220px;
    background-color: #0161a1;
    height: 100%; 
    display: flex;
    flex-direction: column;
    justify-content: flex-start; 
    position: fixed;
    left: 0;
    top: 0;
    padding-top: 54px;
}

.navBtn button{
    width: 100%;
    border: none;
    border-top: 1px solid #00376b;
    border-right: 1px solid #00376b;
    border-radius: 0px;
}

.submenu button {
    background-color: #6ac4ff;
    color: #0e3550;
    width: 100%;
    border-top: 1px solid #00488b;
    border-right: 1px solid #00488b;
}

.navBtn button:hover {
    background-color: #ffffff;
    color: #003152;
    border: none;
    border-right: 1px solid #00376b;
    border-top: 1px solid #00488b;
}

.submenu button:hover {
    border: none;
    border-top: 1px solid #00488b;
    border-right: 1px solid #00488b;
    color: #c5e5fa;
    background-color: #365c77;
}

.active button{
    background-color: #c1e6ff;
    color: #0161a1;
    border-right: 0;
}

.active button:hover{
    background-color: #c1e6ff;
    color: #0161a1;
    border-right: 0;
}

.submenu {
    display: flex;
    flex-direction: column;
}

.exit button {
    background-color: #3d88b9;
    width: 100%;
    border-radius: 0px;
    border: none;
}

.exit button:hover {
    border: none;
    background-color: #a9d4f8;
    color: #1d4d6d;
}